<div>
    Auch bei der Sportdiplomatie hakt es. Gaben die Winterspiele in Pyeongchang im Februar 2018 noch Anlass zu Hoffnung oder gar Euphorie, als bei der Eröffnungsfeier die Olympiamannschaften von Nord- und Südkorea unter gemeinsamer Flagge ins Stadion einmarschierten, folgt nun Ernüchterung.
</div>

<div>
Zur Schwimmweltmeisterschaft im südkoreanischen Gwangju im Juli wird offenbar kein einziger nordkoreanischer Athlet erscheinen. "Eintauchen in den Frieden" lautet das Motto des Wettkampfs. Gwangjus Bürgermeister Lee Yong Seop hofft, dass die Veranstaltung "mehr ist als ein Ort des Wettbewerbs um Medaillen", und "zum Frieden auf der koreanischen Halbinsel und auf der Welt" beiträgt.
</div>

<div>
Doch die Nordkoreaner reagierten weder auf einen Brief des Bürgermeisters noch auf Einladungen von zwei südkoreanischen Ministerien. Bei mehreren Sportkonferenzen soll die Beteiligung der Nordkoreaner angeregt worden sein, <div class="comment">ebenso wie im gemeinsamen Verbindungsbüro in der</div> Stadt Kaesong. Auch Anrufe oder schriftliche Anfragen des internationalen Schwimmverbands Fina blieben nach eigenen Angaben ohne Erfolg. 
</div>
