<!DOCTYPE html>
<html>
	<head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        </style>
	</head>
    <body>
        <section class="section">
			<div class="container">
				<h1 class="title">Beispielseite</h1>
				<p class="subtitle">
                bla bla Untertitel
				</p>


            {% for key,block in blocks.items() %}
            <h2 class="is-size-3">{{block.name}}</h2>
                {% for row in block.items | batch(2, '') %}
                <div class="columns">
                    {% for item in row %}
                    <div class="column is-one-half">
                        {% if item %}
                        <div class="card">
                            <div class="card-header">
                                <div class="card-header-title">{{item.name}}</div>
                            </div>
                            <div class="card-content">
                            {% if item.has_statement %}
                                <i>{{ item.statement | safe }}</i>
                            {% else %}
                               [No comment yet] 
                            {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            {% endfor %}


			</div>
		</section>

    </body>
</html>
